* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 30px;
  background: #040404;
  color: #0b4397;
}

h1 {
  text-align: center;
  margin-bottom: 25px;
}

.container {
  max-width: 1000px;
  margin: auto;
  display: grid;
  /* grid-template-columns: 1fr 1.2fr; */
  gap: 25px;
}

/* Issue Form */
.issue-form {
  background: #111827;
  padding: 25px;
  border-radius: 12px;
}

.issue-form h2 {
  margin-bottom: 15px;
}

.issue-form input,
.issue-form button {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 15px;
}

.issue-form input {
  background: #1f2933;
  color: #fff;
}

.issue-form button {
  background: #22c55e;
  color: #000;
  cursor: pointer;
  font-weight: bold;
}

.issue-form button:hover {
  background: #16a34a;
}

/* Available Books */
.books {
  /* width:500px; */
  background: #111827;
  padding: 20px;
  border-radius: 12px;
  height: 420px;
  overflow-y: auto;
}

.book-card {
  background: #1f2933;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.book-card h3 {
  margin: 0 0 6px;
}

.book-card p {
  margin: 4px 0;
  font-size: 14px;
  color: #cbd5e1;
}

.available {
  color: #22c55e;
  font-weight: bold;
}

.not-available {
  color: #ef4444;
  font-weight: bold;
}
.msg-success {
  color: green;
  margin: 8px 0;
}
.msg-error {
  color: red;
  margin: 8px 0;
}

/* Scrollbar */
.books::-webkit-scrollbar {
  width: 8px;
}

.books::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 10px;
}
