* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0f172a;
  color: #fff;
}

.container {
  width: 80%;
  /* max-width: 600px; */
  background: #111827;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  text-align: center;
}

h1 {
  margin-bottom: 25px;
  font-size: 28px;
}

.search-box {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.search-box input {
  flex: 1;
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 16px;
}

.search-box button {
  padding: 12px 18px;
  border: none;
  border-radius: 8px;
  background: #3b82f6;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.search-box button:hover {
  background: #2563eb;
}

.btn-group {
  display: flex;
  justify-content:center;
  gap: 15px;
}

.btn-group button {
  flex: 1;
  padding: 15px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  background: #1f2933;
  color: #fff;
  transition: 0.3s;
}

.btn-group button:hover {
  background: #374151;
  transform: translateY(-2px);
}
